.text-custom.el-input {
  .el-input__inner {
    font-size: 16px !important;
    &::placeholder, 
    &::-webkit-input-placeholder, 
    &::-ms-input-placeholder {
        font-size: 16px !important;
    }
  }
}

@media only screen and (max-width: 768px) {
    .text-custom.el-input {
        .el-input__inner {
            font-size: 10px !important;
            &::placeholder, 
            &::-webkit-input-placeholder, 
            &::-ms-input-placeholder {
                font-size: 10px !important;
            }
        }
    }
}